<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{customer.list}"></title>
</head>
<body>
<span th:text="#{global.language}+${': '}"></span>
<a th:href="@{/customer/list/(lang=en)}" th:text="#{global.english}"></a>
<a th:href="@{/customer/list/(lang=vi)}" th:text="#{global.vietnamese}"></a>
<a href="/customer/create" th:text="#{customer.add}"></a>
<h1>Customers</h1>
<form>
    <a th:text="#{global.search}"></a>
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th th:text="#{customer.first_name}"></th>
        <th th:text="#{customer.last_name}"></th>
        <th th:text="#{global.province}"></th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.province.name}"></td>
            <td><a th:href="@{/customer/edit/__${customer.id}__ }" th:text="#{global.update}"></a></td>
            <td><a th:href="@{/customer/delete/__${customer.id}__ }" th:text="#{global.delete}"></a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customer/list/'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}" th:text="#{global.previous}"></a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customer/list/'(page=${customers.number + 1})}" th:if="${customers.hasNext()}" th:text="#{global.next}"></a>
</div>
</body>
</html>